@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --background: 219 36% 99%;
        --foreground: 219 54% 0%;
        --muted: 219 12% 85%;
        --muted-foreground: 219 7% 38%;
        --popover: 219 36% 98%;
        --popover-foreground: 0 0% 0%;
        --card: 219 36% 98%;
        --card-foreground: 0 0% 0%;
        --border: 219 9% 93%;
        --input: 219 9% 93%;
        --primary: 235 44% 59%;
        --primary-foreground: 222, 45%, 96%;
        --secondary: 219 6% 90%;
        --secondary-foreground: 219 6% 30%;
        --accent: 219 13% 83%;
        --accent-foreground: 219 13% 23%;
        --destructive: 15 83% 45%;
        --destructive-foreground: 0 0% 100%;
        --ring: 219 95% 22%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 219 54% 0%;
        --foreground: 219 22% 99%;
        --muted: 219 12% 15%;
        --muted-foreground: 219 7% 62%;
        --popover: 0 0% 1%;
        --popover-foreground: 0 0% 100%;
        --card: 0 0% 1%;
        --card-foreground: 0 0% 100%;
        --border: 219 9% 14%;
        --input: 219 9% 14%;
        --primary: 235 44% 59%;
        --primary-foreground: 222, 45%, 96%;
        --secondary: 219 4% 8%;
        --secondary-foreground: 219 4% 68%;
        --accent: 219 13% 15%;
        --accent-foreground: 219 13% 75%;
        --destructive: 15 83% 57%;
        --destructive-foreground: 0 0% 0%;
        --ring: 219 95% 22%;
    }
}
@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
